body {
    background: rgb(222, 207, 181);
}

.center {
    margin:auto;
    width:100%;
    text-align: center;
}

h1 {
    color: rgb(105, 80, 22);
}

h2 {
    font-style: italic;
}

img {
    height: 30%;
    width: 30%;
    border-radius: 50%;
}

p {
    max-width: 50%;
}
